*{
    margin:0;
    padding: 0;
}
.header{
    background-color: black;
    color: white;
    padding:10px;
}
h1,ul,li{
    display: inline;
}
ul{
    margin-left: 70%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 80%;
    padding: 15px;
}
.search{
    padding:50px;
    text-align: center;
}
.box{
    border-color: black;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width:210px;
    padding:10px;
}
.box:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.box img{
    width:210px;
    height: 210px;
    display: block;
    margin-right: 3px;
    border-radius: 5%;
}
.products{
    justify-content: center;
    gap: 30px;
    padding:10px;
    display: flex;
}
.about{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding:10px;
}